:root {
    font-size: 15px;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: MEANCOLOR;
    background-image:
        radial-gradient(closest-side, 1st_COLOR_ff, 1st_COLOR_00),
        radial-gradient(closest-side, 2nd_COLOR_ff, 2nd_COLOR_00),
        radial-gradient(closest-side, 3rd_COLOR_ff, 3rd_COLOR_00),
        radial-gradient(closest-side, 4th_COLOR_ff, 4th_COLOR_00),
        radial-gradient(closest-side, 5th_COLOR_ff, 5th_COLOR_00);
    background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    background-position:
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    background-repeat: no-repeat;
    animation: ANIMETIME movement linear infinite;
}

@keyframes movement {

    0%,
    100% {
        background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
    }

    20% {
        background-size:
            100vmax 100vmax, /* 1st changes */
            80vmax 80vmax,   /* rest stay same */
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            -40vmax -85vmax,
            77vmax -21vmax,
            15vmax 15vmax,
            -30vmax -10vmax,
            58vmax 22vmax;
    }

    40% {
        background-size:
            100vmax 100vmax,
            90vmax 90vmax,   /* 2nd changes */
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            0vmax -45vmax,
            67vmax -23vmax,
            66vmax -5vmax,
            -66vmax -2vmax,
            3vmax 80vmax;
    }

    60% {
        background-size:
            100vmax 100vmax,
            90vmax 90vmax,
            100vmax 100vmax, /* 3rd changes */
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            -35vmax -60vmax,
            33vmax -10vmax,
            76vmax 0vmax,
            -80vmax -55vmax,
            66vmax -80vmax;
    }

    80% {
        background-size:
            100vmax 100vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,  /* 4th changes */
            90vmax 90vmax;
        background-position:
            -82vmax -35vmax,
            -35vmax 2vmax,
            49vmax -3vmax,
            -5vmax -6vmax,
            65vmax 73vmax;
    }
}
